.idea
src/plugins/akismet
src/plugins/hello.php
src/plugins/index.php
src/plugins/wp-mail-smtp
src/themes/twentytwentyone
src/themes/twentytwentytwo
src/themes/twentytwentythree
src/themes/index.php
src/plugins/pop-aurelian/composer.lock
src/plugins/pop-aurelian/package-lock.json
src/plugins/pop-aurelian/vendor
src/plugins/pop-aurelian/css
src/plugins/pop-aurelian/dist
src/plugins/pop-aurelian/js/dist
src/plugins/pop-aurelian/cypress.env.json
src/plugins/pop-aurelian/adminUserLoginCookiesFromCypress.json
src/plugins/wpforms-lite
src/plugins/pop-aurelian/node_modules